<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bochenlong.mybatis.UseruMapper">
    <insert id="insertUser" parameterType="org.bochenlong.bean.mybatis.Useru">
        insert into useru
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fullname != null">
                fullname
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="fullname != null">
                #{fullname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertLocation" parameterType="org.bochenlong.bean.mybatis.Location">
        insert into Location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="userId != null">
                useru_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT}
            </if>
        </trim>
    </insert>

    <resultMap id="UserResultMap" type="org.bochenlong.bean.mybatis.Useru">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="fullname" property="fullname" jdbcType="VARCHAR"/>
        <association property="locations" column="user_id" javaType="org.bochenlong.bean.mybatis.Location">
            <id property="id" column="id"/>
            <result column="location" property="location" jdbcType="VARCHAR"/>
            <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="selectByParamsMap" parameterType="map" resultMap="UserResultMap">
        select u.id,u.fullname,l.useru_id user_id,l.location from useru u inner join location l on u.id = l.useru_id
        <where>
            <if test="userId != null">
                u.id = #{userId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>